<!DOCTYPE html>
<html lang="en">
<head>
    <script src="./js/color-modes.js"></script>
    <link rel="stylesheet" href="./bootstrap-icons-1.10.5/font/bootstrap-icons.min.css" />
    <link rel="shortcut icon" href="./img/ali.png" type="image/x-icon">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors" />
    <meta name="generator" content="Hugo 0.112.5" />
    <title>Login page</title>

    <link href="./css/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/dark-light.css"/>
    <link href="./css/sidebars.css" rel="stylesheet" />
    <link rel="stylesheet" href="./css/myStyle.css" />

    <style>
        body {
            text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
            box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
        }

        .cover-container {
            max-width: 42em;
        }

        #passwordError, #userNameError {
            color: rgb(255, 0, 0);
            margin-left: 0.rem;
            font-weight: 600;
        }
    </style>
</head>
<body class="d-flex h-100 text-center text-bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <%- include('./header.ejs', { currentPage: "login" }) %>

        <main class="px-3">
            <h1>Log in</h1>

            <form id="loginForm" class="text-start mx-auto mt-5" style="max-width: 22em;">
                <div class="form-group">
                    <label for="exampleInputUserName">Username</label>
                    <input name="userName" type="text" class="form-control" id="exampleInputUserName" placeholder="Enter username">
                    <p id="userNameError"></p>
                </div>
                <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input name="password" type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    <p id="passwordError"></p>
                </div>

                <div class="form-group form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                </div>
                <button type="submit" class="btn btn-primary">Log in</button>
            </form>
        </main>

        <footer class="mt-auto text-white-50">
            <p>جميع الحقوق محفوظة لبن قرهد ©2024</p>
        </footer>
    </div>

    <script>
        document.getElementById("loginForm").addEventListener("submit", async (e) => {
            e.preventDefault();
            document.getElementById("userNameError").textContent = "";
            document.getElementById("passwordError").textContent = "";

            const res = await fetch("/login", {
                method: "POST",
                body: JSON.stringify({
                    userName: document.getElementById("exampleInputUserName").value,
                    password: document.getElementById("exampleInputPassword1").value,
                }),
                headers: { "Content-Type": "application/json" },
            });

            const data = await res.json();
            console.log(data);

            if (data.notFoundUser) {
                document.getElementById("userNameError").textContent = data.notFoundUser;
            }

            if (data.redirectUrl) {
                location.assign(data.redirectUrl);
            }

            if (data.passwordError) {
                document.getElementById("passwordError").textContent = data.passwordError;
            }
        });
    </script>
    <script src="./js/bootstrap.bundle.min.js"></script>
</body>
</html>
