<div>
    <div class="col-md-6">
      <label for="aluminumSize" class="form-label">:اختر قياس القطاع</label>
      <select  name="branch" id="aluminumSize" class="form-select">
        <option value="<%=arrM.aluminumSize?arrM.aluminumSize:""%>" selected hidden disabled><%= arrM.aluminumSize?arrM.aluminumSize:""%></option>
        <option value="12.1">12.1</option>
        <option value="11.1">11.1</option>
        <option value="9.1">9.1</option>
        <option value="6.5">6.5</option>

        <option value="16">16</option>
        <option value="4.2">4.2</option>
        <option value="5.6">5.6</option>
        <option value="10.6">10.6</option>         
        <option value="14.7">14.7</option>
        <option value="11.3">11.3</option>
        <option value="13.5">13.5</option>
        <option value="8.2">8.2</option>

      </select>
    </div>
    </div>