<h4>:اختر لون الألمنيوم</h4><br>

<!-- اختيار لون الألمنيوم -->


<!-- ألون الألمنيوم المختصرة -->






  <div class="col-md-6">
    <label for="inputage4" class="form-label">:رمز اللون </label>
    <input
    name="aluminumColorCodeId"
      placeholder="BM-###"
      type="text"
      class="form-control"
      id="aluminumColorCodeId"
      value="<%=arrM.aluminumColorCode0?arrM.aluminumColorCode0:arrM.aluminumColorCode%>"
    />
  </div>