<div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">:ملاحظة </label>
    <textarea name="comments" class="form-control" id="exampleFormControlTextarea1" rows="3"><%=arrM.comments%></textarea>
  </div>