


<form >
    <!-- <form class="row g-3"> -->
        <div class="col-md-6">
            <label for="inputage4" class="form-label">:الإرتفاع H </label>
            <input
            name="length"
              placeholder="cm"
              type="number"
              class="form-control"
              id="lengthid"
              value="<%= arrM.H %>"
            />
          </div>
        </form>
          <form >
          <div class="col-md-6">
            <label for="inputage4" class="form-label">:العرض W</label>
            <input
            name="width"
              placeholder="cm"
              type="number"
              class="form-control"
              id="widthid"
              value="<%= arrM.W %>"
            />
          </div>

        </form>