

<br>
<label for="inputGender" class="form-label">:اختر نوع التركيب</label>

<div class="checkbox-wrapper-10">
  <input value="داخلي"  type="checkbox" id="cb5" class="tgl tgl-flip" name="m11">
  <label for="cb5" data-tg-on="داخلي" data-tg-off="خارجي" class="tgl-btn"></label>
</div>