

<br>
<label for="inputGender" class="form-label">:اختر نوع التركيب</label>

<div class="checkbox-wrapper-10">
  <input value="Inside"  type="checkbox" id="cb5" class="tgl tgl-flip" name="m11">
  <label for="cb5" data-tg-on="Inside" data-tg-off="Outside" class="tgl-btn"></label>
</div>