<!-- راس الصفحة -->

<nav class="navbar bg-body-tertiary" style="direction: rtl;">
  <div class="container-fluid justify-content-center justify-content-md-between">
    <a class="navbar-brand fw-medium fs-3 mb-1 mb-md-0">
      <!-- white metal factory -->
      <sup>نسخة تجريبية v1.1.0</sup>
    </a>

    <!-- نموذج البحث معطل حسب طلبك -->
    <!-- <form action="/search" method="post" class="d-flex" role="search">
      <input
        name="searchText"
        class="form-control me-2"
        type="search"
        placeholder="Search"
        aria-label="Search"
      />
      <button class="btn btn-outline-success" type="submit">
        Search
      </button>
    </form> -->
  </div>
</nav>
