


<label >:سكريت</label>
<br>
<div class="checkbox-wrapper-10">
  <input value="YES"  type="checkbox" id="cb6" class="tgl tgl-flip">
  <label for="cb6" data-tg-on="نعم" data-tg-off="لا" class="tgl-btn"></label>



</div>